<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.y.notetogether">
    //네트워크 연결 준비
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //페이스북 연동 준비

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.Etc.LoadingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activity.Single.MemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.FileupLoad.UploadActivity"/>
        <activity android:name=".Activity.Single.MemoActivity2" />
        <activity
            android:name=".Activity.Login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity android:name=".Activity.Login.Register1Activity"/>
        <activity android:name=".Activity.Multie.MemoGroupActivity"/>
        <!-- [naveroauthlogin][start] 네이버아이디로로그인을 사용하기 위해서 넣어줘야하는 부분 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
        <!-- [naveroauthlogin][end] -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1107997322575191"
            android:exported="true" />
    </application>

</manifest>
